<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>晴</key>
	<string>000</string>
	<key>阴</key>
	<string>002</string>
	<key>多云</key>
	<string>001</string>
	<key>小雨</key>
	<string>008</string>
	<key>阵雨</key>
	<string>007</string>
	<key>中雨</key>
	<string>009</string>
	<key>大雨</key>
	<string>0100</string>
	<key>暴雨</key>
	<string>011</string>
	<key>雷阵雨</key>
	<string>004</string>
	<key>特大暴雨</key>
	<string>012</string>
	<key>雾</key>
	<string>018</string>
	<key>霾</key>
	<string>053</string>
	<key>雨夹雪</key>
	<string>006</string>
	<key>小雪</key>
	<string>014</string>
	<key>中雪</key>
	<string>015</string>
	<key>大雪</key>
	<string>016</string>
	<key> 暴雪</key>
	<string>017</string>
	<key>晴转多云</key>
	<string>0010</string>
	<key>晴转小雨</key>
	<string>003</string>
</dict>
</plist>
