<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>晴</key>
	<string>00</string>
	<key>阴</key>
	<string>02</string>
	<key>多云</key>
	<string>01</string>
	<key>小雨</key>
	<string>08</string>
	<key>阵雨</key>
	<string>07</string>
	<key>中雨</key>
	<string>09</string>
	<key>大雨</key>
	<string>10</string>
	<key>暴雨</key>
	<string>11</string>
	<key>雷阵雨</key>
	<string>04</string>
	<key>特大暴雨</key>
	<string>12</string>
	<key>雾</key>
	<string>18</string>
	<key>霾</key>
	<string>53</string>
	<key>雨夹雪</key>
	<string>06</string>
	<key>小雪</key>
	<string>14</string>
	<key>中雪</key>
	<string>15</string>
	<key>大雪</key>
	<string>16</string>
	<key> 暴雪</key>
	<string>17</string>
	<key>晴转多云</key>
	<string>010</string>
	<key>晴转小雨</key>
	<string>03</string>
</dict>
</plist>
